{% extends 'base.html' %}
{% load static %}
{% block contents %}
    <main>
    <div class="main-section">
    <div class="container">
    <div class="main-section-data">
    <div class="row">
    <div class="col-lg-3 col-md-4 pd-left-none no-pd">
    <div class="main-left-sidebar no-margin">
    <div class="user-data full-width">
        <div class="user-profile">
            <div class="username-dt">
                <div class="usr-pic">
                    <img src="{% static 'assets/images/user-pic.png' %}" alt="">
                </div>
            </div>
            <div class="user-specs">
                <h3>John Doe</h3>
                <span>Pastoralist at Dodoma</span>
            </div>
        </div>
        <ul class="user-fw-status">
            <li>
                <h4>Following</h4>
                <span>34</span>
            </li>
            <li>
                <h4>Followers</h4>
                <span>155</span>
            </li>
                <li>
                <a href="my-profile-feed.html" title="">View Profile</a>
                </li>
            </ul>
    </div>
    <div class="suggestions full-width">
    <div class="sd-title">
        <h3>Top Suggested Officers</h3>
        <i class="la la-ellipsis-v"></i>
    </div>
    <div class="suggestions-list">
        <div class="suggestion-usd">
            <img src="{% static 'assets/images/s1.png' %}" alt="">
            <div class="sgt-text">
                <h4>Jessica William</h4>
                <span>Dodoma</span>
            </div>
            <span><i class="fa fa-eye"></i></span>
        </div>
        <div class="suggestion-usd">
            <img src="images/resources/s2.png" alt="">
            <div class="sgt-text">
                <h4>John Doe</h4>
                <span>Dar es salaam</span>
            </div>
            <span><i class="la la-plus"></i></span>
        </div>
        <div class="suggestion-usd">
            <img src="images/resources/s3.png" alt="">
            <div class="sgt-text">
                <h4>Jane Doe</h4>
                <span>Arusha</span>
            </div>
                <span><i class="la la-plus"></i></span>
            </div>
        <div class="suggestion-usd">
            <img src="images/resources/s4.png" alt="">
            <div class="sgt-text">
                <h4>Bill Gates</h4>
                <span>Kilimanajaro</span>
            </div>
            <span><i class="la la-plus"></i></span>
        </div>
    

        <div class="view-more">
            <a href="#" title="">View More</a>
        </div>
    </div>
    </div>
    

    </div>
    </div>
    <div class="col-lg-6 col-md-8 no-pd">
        <div class="main-ws-sec">

            <div class="post-topbar">
                <div class="user-picy">
                    <img src="assests/images/user-pic.png" alt="">
                </div>
                <div class="post-st">
                    <ul>
                        <li><a class="active" href="#" title="">Add <i class="fa fa-video" ></i></a></li>
                        <li><a class=" active" href="#" title="">Post <i class="fa fa-plus" ></i> </a></li>
                    </ul>
                </div>
            </div>
            <div class="posts-section">
             {% for data in feeds %}   
            <div class="post-bar">
                <div class="post_topbar">
                    <div class="usy-dt">
                        <img src="{% static 'assets/images/us-pic.png' %}" alt="">
                        <div class="usy-name">
                            <a href="timeline.html"><h3>{{ data.user.username }}</h3></a>
                            <span><img src="{% static 'assets/images/clock.png' %}" alt="">{{data.published}}</span>
                        </div>
                    </div>
                    <div class="ed-opts">
                    <a href="#" title="" class="ed-opts-open"><i class="fa fa-ellipsis-v"></i></a>
                        <ul class="ed-options">
                            <li><a href="#" title="">Edit Post</a></li>
                            <li><a href="#" title="">Delete</a></li>
                        </ul>
                    </div>
                </div>
                <div class="epi-sec">
                    <ul class="descp">
                        <li><img src="{% static 'assets/images/icon8.png' %}" alt=""><span>Dodoma</span></li>
                    </ul>
                    <ul class="bk-links">
                        <li><a href="#" title=""><i style="font-size:12px" class="fa fa-bookmark"></i></a></li>
                        <li><a href="#" title=""><i style="font-size:12px" class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
                <div class="job_descp">
                    <h3>Pastoralist</h3>
                    <ul class="job-dt">
                        <li><a href="#" title="">Full Time</a></li>
                        <!-- <li><span>$30 / hr</span></li> -->
                    </ul>
                    {% if data.texts %}
                    <p> 
                        {{data.texts|truncatechars:"200"}}
                        <a href="#" title="">view more</a>
                    </p>
                    {% endif %}

                    {% if data.image %}
                     <img style="width:100%;" src="{{ data.image.url }}" alt="">
                    {% endif %}

                    {% if data.video %}
                    <video id="v" style=" width:100%;" controls  >
                        <source src="{{ data.video.url }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    {% endif %}
               
                </div>
                <div class="job-status-bar">
                    <ul class="like-com">
                    <li>
                    <a href="#"><i class="fas fa-heart"></i> Like</a>
                    <img src="{% static 'assets/images/liked-img.png' %}" alt="">
                    <span>25</span>
                    </li>
                    <li><a href="#" class="com"><i class="fas fa-comment-alt"></i> Comment 15</a></li>
                    </ul>
                    <a href="#"><i class="fas fa-eye"></i>Views 50</a>
                </div>
            </div>
            {% endfor %}
    
            <!-- <div class="process-comm">
                <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div> -->
            
            </div>
        </div>
    </div>
    <div class="col-lg-3 pd-right-none no-pd">
    <div class="right-sidebar">
  
    <div class="widget widget-jobs">
    <div class="sd-title">
        <h3>Top Keeping Lessons</h3>
        <i class="la la-ellipsis-v"></i>
    </div>
    <div class="jobs-list">
        <div class="job-info">
            <div class="job-details">
                <h3>Cattle keeping</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
            </div>
            <div class="hr-rate">
                <span>2hr</span>
            </div>
        </div>

        <div class="job-info">
            <div class="job-details">
                <h3>Cattle keeping</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
            </div>
            <div class="hr-rate">
                <span>2hr</span>
            </div>
        </div>
        <div class="job-info">
            <div class="job-details">
                <h3>Cattle keeping</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
            </div>
            <div class="hr-rate">
                <span>2hr</span>
            </div>
        </div>

        <div class="job-info">
            <div class="job-details">
                <h3>Cattle keeping</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
            </div>
            <div class="hr-rate">
                <span>2hr</span>
            </div>
        </div>
       
        
        </div>
    </div>

    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </main>

    
    </div>
</div>
{% endblock contents %}