  <!-- Modal -->
  <div class="modal fade" id="text" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        </div>
        <div class="modal-body">
          <form action="{% url 'feeds' %}"method="post">
              {% csrf_token %}
             <div style="width:100%;">
                <textarea required  class="ml-4 mr-4 mt-3 text" name="texts" i cols="30" rows="5" placeholder="Type your post here" ></textarea>
             </div>
             <div class="modal-footer">
                <button style="width:70%; background-color: green;" type="submit" class="btn btn-success ml-4 mr-4 rounded-pill">ADD A POST</button>
                <a type="button" class="btn btn-secondary text-white rounded-pill" data-dismiss="modal">Close</a>
              </div>
          </form>
        </div>
       
      </div>
    </div>
  </div>

    <!-- Modal -->
    {% for data in feeds %}
    <div class="modal fade" id="delete{{ data.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">You are about to delete Post</h5>
          </div>
          <div class="modal-body">
            
            <div style="padding-top:40px ; margin-left: 40px ;" >
                <strong style="font-size: 22px; color:red;" > Are you sure you want to delete this post?</strong>
            </div>
                
          </div>
          <div class="modal-footer">
              <center><a style="width: 70% ;" href="{% url 'delete_feed' data.id %}" class="btn btn-danger text-white rounded-pill">Delete</a></center>
            </div>
         
        </div>
      </div>
    </div>
    {% endfor %}



  
    


    <!-- Modal -->
    <div class="modal fade" id="vid" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add Your Post</h5>
            </div>
            <div class="modal-body">
              <form action="{% url 'feeds' %}"method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                 <div style="width:100%;">
                    <div class="mb-3">
                        <textarea   class="ml-4 mr-4 mt-3 text" name="texts" i cols="30" rows="3" placeholder="Video Caption Here" ></textarea>
                        <input style="display: none;"  id="uploadfile2" class="form-control" id="image" type="file" name="video" 
                        onchange="document.getElementById('blah2').src = window.URL.createObjectURL(this.files[0])" required="required">
                        <video id="blah2" style=" width:100%; display: none;" controls  >
                         
                            Your browser does not support the video tag.
                        </video>
                       <center><button id="btnfile2" class="btn btn-secondary rounded-pill btn-sm mt-2" >Choose an video file from your device</button></center>
                    </div>
                 </div>
                 <div class="modal-footer">
                    <button style="width:70%; background-color: green;" type="submit" class="btn btn-success ml-4 mr-4 rounded-pill">ADD A POST</button>
                    <a type="button" class="btn btn-secondary text-white rounded-pill " data-dismiss="modal">Close</a>
                  </div>
              </form>
            </div>
           
          </div>
        </div>
      </div>



            <!-- Modal -->
            {% for data in feeds %}
            <div class="modal fade" id="edit{{data.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Post</h5>
                  </div>
                  <div class="modal-body">
                    <form action="{% url 'edit_feed' data.id %}"method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                       <div style="width:100%;">
                          <div class="mb-3">
                              <textarea   class="ml-4 mr-4 mt-3 text" name="texts" i cols="30" rows="3" placeholder="Video Caption Here" >{{data.texts}}</textarea>
    
                              {% if data.image %}
                              <input style="display: none;"  id="uploadfile4" class="form-control" id="image" type="file" name="image" 
                              onchange="document.getElementById('blah4').src = window.URL.createObjectURL(this.files[0])" required="required">
                              <img id="blah4"  style="width:100% ;" />
                            
                              <img id="loadedImg" src="{{data.image.url}}" alt="">
                           
                             <center><button id="btnfile4" class="btn btn-secondary rounded-pill btn-sm mt-2" >Choose an image from your device</button></center>
                             {% endif %}
    
    
                             {% if data.video %}
                              <input style="display: none;"  id="uploadfile3" class="form-control" id="image" type="file" name="video" 
                              onchange="document.getElementById('blah3').src = window.URL.createObjectURL(this.files[0])" required="required">
                              <video id="blah3" style=" width:100%; display: none;" controls  >
                                  Your browser does not support the video tag.
                              </video>
                              
                              <video class="playpause" id="v" style=" width:100%;" controls  >
                                  <source src="{{ data.video.url }}" type="video/mp4">
                                  Your browser does not support the video tag.
                              </video>
                            
                             <center><button id="btnfile3" class="btn btn-secondary rounded-pill btn-sm mt-2" >Choose an video file from your device</button></center>
                             {% endif %}
                            </div>
                       </div>
                       <div class="modal-footer">
                          <button style="width:70%; background-color: green;" type="submit" class="btn btn-success ml-4 mr-4 rounded-pill">UPDATE A POST</button>
                          <a type="button" class="btn btn-secondary text-white rounded-pill" data-dismiss="modal">Close</a>
                        </div>
                    </form>  
                  </div> 
                </div>
              </div>
            </div>
            {% endfor %}
    



    <!-- Modal -->
    <div class="modal fade" id="img" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Post A Photo</h5>
            </div>
            <div class="modal-body">
              <form action="{% url 'feeds' %}"method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                 <div style="width:100%;">
                    <div class="mb-3">
                        <textarea   class="ml-4 mr-4 mt-3 text" name="texts" i cols="30" rows="3" placeholder="Image Caption Here" ></textarea>
                        <input style="display: none;"  id="uploadfile" class="form-control" id="image" type="file" name="image" 
                        onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])" required="required">
                        <img id="blah"  style="width:100% ;" />
                       <center><button id="btnfile" class="btn btn-secondary rounded-pill btn-sm mt-2" >Choose an image from your device</button></center>
                    </div>
                 <div class="modal-footer mt-2">
                    <button style="width:70%; background-color: green;" type="submit" class="btn btn-success btn-sm ml-4 mr-4 mt-2 rounded-pill">Add a post</button>
                    <a type="button" class="btn btn-secondary btn-sm rounded-pill text-white mt-3" data-dismiss="modal">Close</a>
                  </div>
              </form>
            </div>
           
          </div>
        </div>
      </div>








<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $("#btnfile").click(function () {
    $("#uploadfile").click();
    });

    $("#btnfile2").click(function () {
    $("#uploadfile2").click();
  });
    $("#btnfile3").click(function () {
    $("#uploadfile3").click();
    
  });
    $("#btnfile4").click(function () {
    $("#uploadfile4").click();
    $("#loadedImg").hide()
  });
    

</script>